.articlecard {
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 400px) {
  .articlecard {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
