.publisharticle {
  margin-top: 1rem;
  text-align: center;
}

input {
  width: 35%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
}

select {
  width: 35%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
}

textarea {
  width: 35%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
}
